# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [ ]:
#! pip install selenium

In [256]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [257]:
#driver = webdriver.Chrome(r"C:\Users\Asus\Documents\chromedriver_win32\Chromedriver.exe")

In [258]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [259]:
driver.get("https://www.naukri.com/")

In [260]:
#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Analyst,")
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_field_location.send_keys("bangalore/bengaluru")

In [261]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [262]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [263]:
#extract job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="9066abf4-4af6-43ac-a5bf-c4db89a5ba67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="b07b51b2-e37c-48db-a6c2-a42411ee048c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="a60e79e6-dfb9-41f7-bba2-bb1d16d92590")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="d5bc909f-a6b8-469e-a204-c51a5aee6bd2")>]

In [264]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['SAS Analyst / data Analyst / Business analyst - Sas + SQL',
 'Data Analyst I',
 'Senior Data Analyst',
 'Lead Data Analyst - Risk Analytics']

In [265]:
#extract company names
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="31d4e65d-4a80-4201-aa30-e744fe944b32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="2ff21716-0d07-443a-ada1-4e0de9103f75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="c8e7a845-02a0-4dd9-a2bc-436715fc60f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="b03632ef-2816-458a-a0b9-1c587b6df041")>]

In [266]:
for i in company_tags:
    comp=i.text
    company_names.append(comp)
company_names[0:4]

['Leading US MNC into analytics', 'Bioclinica', 'Shell', 'Gojek']

In [267]:
#extract experience
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="ac19126e-92ad-42ab-9515-4a6d1f79c6df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="f6bfa369-86f8-4bf7-8e83-85545d658816")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="1feb8f65-f8a6-406f-a871-1f0291745e5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="aa7dd3dc-16b0-49e4-8883-f542f47bdc2a")>]

In [268]:
for i in experience_tags:
    expp=i.text
    experience_list.append(expp)
experience_list[0:4]

['2-7 Yrs', '0-3 Yrs', '10-12 Yrs', '5-11 Yrs']

In [269]:
#extract location
loct_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loct_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="01742d75-b16b-470e-b9a2-897bbbc315c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="b6412188-3e84-41ac-a80d-1ce7c4ef5244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="f5172a33-217e-420a-ad5d-03bb2be02b4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d1add5f840a260e613cd5e44898aeb3", element="6d265d15-135b-45c2-ab57-5910e53a3534")>]

In [270]:
for i in loct_tags:
    loct=i.text
    locations_list.append(loct)
locations_list[0:4]

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [271]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [272]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Location']=locations_list
jobs['Company Name']=company_names
jobs['Experience']=experience_list
jobs.head(10)

,Title,Location,Company Name,Experience
0,SAS Analyst / data Analyst / Business analyst ...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Leading US MNC into analytics,2-7 Yrs
1,Data Analyst I,Bangalore/Bengaluru,Bioclinica,0-3 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Shell,10-12 Yrs
3,Lead Data Analyst - Risk Analytics,Bangalore/Bengaluru,Gojek,5-11 Yrs
4,Hiring - Zonal Data Analyst (Off Role) - Opera...,"New Delhi, Bangalore/Bengaluru",Rupeek,2-7 Yrs
5,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",LatentView,3-6 Yrs
6,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs
7,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
8,Associate Data Analyst,Bangalore/Bengaluru,Optum,4-9 Yrs
9,Denave Hiring Data Analyst Bengaluru Location,Bangalore/Bengaluru,Denave India Pvt Ltd.,5-10 Yrs

In [273]:
driver.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist,")
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_field_location.send_keys("bangalore/bengaluru")

In [ ]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [ ]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [ ]:
#extract job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

In [ ]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

In [ ]:
#extract company names
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

In [ ]:
for i in company_tags:
    comp=i.text
    company_names.append(comp)
company_names[0:4]

In [ ]:
#extract experience
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

In [ ]:
for i in experience_tags:
    expp=i.text
    experience_list.append(expp)
experience_list[0:4]

In [ ]:
#extract location
loct_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loct_tags[0:4]

In [ ]:
for i in loct_tags:
    loct=i.text
    locations_list.append(loct)
locations_list[0:4]

In [ ]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

In [ ]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Location']=locations_list
jobs['Company Name']=company_names
jobs['Experience']=experience_list
jobs.head(10)

In [ ]:
driver.close()

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [274]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [275]:
driver.get("https://www.naukri.com/")

In [276]:
#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("data scientist,")

In [277]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [278]:
#finding element for lcation and salary check box
chek1=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
chek1.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i"}
  (Session info: chrome=101.0.4951.41)
Stacktrace:
Backtrace:
	Ordinal0 [0x00CCA8E3+2402531]
	Ordinal0 [0x00C5B011+1945617]
	Ordinal0 [0x00B4C748+837448]
	Ordinal0 [0x00B79330+1020720]
	Ordinal0 [0x00B795CB+1021387]
	Ordinal0 [0x00BA63B2+1205170]
	Ordinal0 [0x00B942F4+1131252]
	Ordinal0 [0x00BA46C2+1197762]
	Ordinal0 [0x00B940C6+1130694]
	Ordinal0 [0x00B6E676+976502]
	Ordinal0 [0x00B6F586+980358]
	GetHandleVerifier [0x00F3BC42+2511938]
	GetHandleVerifier [0x00F2ED6F+2458991]
	GetHandleVerifier [0x00D631AA+575914]
	GetHandleVerifier [0x00D61FA6+571302]
	Ordinal0 [0x00C61DEB+1973739]
	Ordinal0 [0x00C66778+1992568]
	Ordinal0 [0x00C66865+1992805]
	Ordinal0 [0x00C6FA41+2030145]
	BaseThreadInitThunk [0x74F87BA9+25]
	RtlInitializeExceptionChain [0x7728B7DB+107]
	RtlClearBits [0x7728B75F+191]

In [ ]:
chek2=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
chek2.click()

In [ ]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [ ]:
#extract job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

In [ ]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

In [ ]:
#extract company names
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

In [ ]:
for i in company_tags:
    comp=i.text
    company_names.append(comp)
company_names[0:4]

In [ ]:
#extract experience
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

In [ ]:
for i in experience_tags:
    expp=i.text
    experience_list.append(expp)
experience_list[0:4]

In [ ]:
#extract location
loct_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loct_tags[0:4]

In [ ]:
for i in loct_tags:
    loct=i.text
    locations_list.append(loct)
locations_list[0:4]

In [279]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [280]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Location']=locations_list
jobs['Company Name']=company_names
jobs['Experience']=experience_list
jobs.head(10)

,Title,Location,Company Name,Experience
0,SAS Analyst / data Analyst / Business analyst ...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Leading US MNC into analytics,2-7 Yrs
1,Data Analyst I,Bangalore/Bengaluru,Bioclinica,0-3 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Shell,10-12 Yrs
3,Lead Data Analyst - Risk Analytics,Bangalore/Bengaluru,Gojek,5-11 Yrs
4,Hiring - Zonal Data Analyst (Off Role) - Opera...,"New Delhi, Bangalore/Bengaluru",Rupeek,2-7 Yrs
5,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",LatentView,3-6 Yrs
6,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs
7,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
8,Associate Data Analyst,Bangalore/Bengaluru,Optum,4-9 Yrs
9,Denave Hiring Data Analyst Bengaluru Location,Bangalore/Bengaluru,Denave India Pvt Ltd.,5-10 Yrs

In [ ]:
driver.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [281]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [282]:
driver.get("https://www.flipkart.com/")

entering sunglasses in field

In [283]:
#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("_3704LK")
search_field_designation.send_keys("sunglasses")

In [284]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [285]:
brand=[]
prd=[]
price=[]

For 1st page

In [286]:
#extract brand
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="6637291a-ced6-4a3a-a457-92c11e873948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="cc6e0186-8666-4eec-9db6-d1431ae549aa")>]

In [287]:
for i in brand_tags:
    brd=i.text
    brand.append(brd)
brand[0:2]

['PIRASO', 'Singco India']

In [288]:
#extract product description
prd_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
prd_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="4322e3f5-ab4c-43aa-9430-9e89fcbb4ac8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="19c1aebd-e523-4552-8fa1-d328ee7c8857")>]

In [289]:
for i in prd_tags:
    prdi=i.text
    prd.append(prdi)
prd[0:2]

['UV Protection Rectangular Sunglasses (52)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...']

In [290]:
#extract product price
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="871c32db-4e03-4335-9c89-173c28dec4e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="875b39fb-6dd8-4d1f-97fc-6dff6ac6023a")>]

In [291]:
for i in price_tags:
    prc=i.text
    price.append(prc)
price[0:2]

['₹280', '₹664']

In [292]:
print(len(brand),len(prd),len(price))

40 40 40

In [293]:
pdd=pd.DataFrame({})
pdd['Brand']=brand
pdd['Product Description']=prd
pdd['Product price']=price
pdd

,Brand,Product Description,Product price
0,PIRASO,UV Protection Rectangular Sunglasses (52),₹280
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹664
2,Elligator,UV Protection Round Sunglasses (54),₹295
3,PIRASO,UV Protection Aviator Sunglasses (54),₹249
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639
5,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹265
6,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719
7,PIRASO,UV Protection Aviator Sunglasses (55),₹249
8,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹299
9,hipe,UV Protection Sports Sunglasses (Free Size),₹258
10,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283
11,PIRASO,UV Protection Butterfly Sunglasses (60),₹399
12,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹219
13,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195
14,SRPM,UV Protection Wayfarer Sunglasses (50),₹250
15,ROYAL SON,"UV Protection, Polarized Wayfarer Sunglasses (54)",₹799
16,PIRASO,UV Protection Aviator Sunglasses (54),₹249
17,PIRASO,UV Protection Aviator Sunglasses (54),₹249
18,PIRASO,UV Protection Wayfarer Sunglasses (32),₹225
19,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹399
20,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹474
21,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹299
22,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹639
23,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),₹649
24,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹315
25,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹217
26,Roadster,UV Protection Oval Sunglasses (57),₹649
27,VINCENT CHASE,UV Protection Rectangular Sunglasses (50),₹649
28,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹209
29,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719
30,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹269
31,PIRASO,UV Protection Aviator Sunglasses (50),₹349
32,Fastrack,UV Protection Wayfarer Sunglasses (55),₹719
33,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹210
34,PIRASO,UV Protection Over-sized Sunglasses (65),₹399
35,PIRASO,"UV Protection Rectangular, Over-sized Sunglass...",₹325
36,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,099"
37,Singco India,"Riding Glasses, UV Protection, Others Aviator ...",₹245
38,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹699
39,agera,Gradient Aviator Sunglasses (55),₹224

Now to go to second page and extract 41- 80 items details

In [294]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()

2nd Page details extract

In [295]:
brand1=[]
prd1=[]
price1=[]

In [298]:
#extract brand
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="f81d0ee8-cc0a-4619-a94c-22e44a1876c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="f6a2f5d2-37af-47a2-a069-985154829091")>]

In [299]:
for i in brand_tags:
    brd=i.text
    brand1.append(brd)
brand1[0:2]

['elegante', 'Fastrack']

In [300]:
#extract product description
prd_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
prd_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="86b91b3c-79c0-404c-9b33-2f229eea17c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="37ac149c-e848-4209-b06b-4f30ba7453df")>]

In [301]:
for i in prd_tags:
    prdi=i.text
    prd1.append(prdi)
prd1[0:2]

['Polarized, Riding Glasses, Night Vision Sports, Wrap-ar...',
 'UV Protection Wayfarer Sunglasses (Free Size)']

In [302]:
#extract product price
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="1b00fa9c-b21b-478d-abde-ea9313de270f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="96bc1943-e5d7-48f0-ae47-3d9fb138f301")>]

In [303]:
for i in price_tags:
    prc=i.text
    price1.append(prc)
price1[0:2]

['₹499', '₹639']

In [304]:
print(len(brand1),len(prd1),len(price1))

40 40 40

In [305]:
pdd=pd.DataFrame({})
pdd['Brand']=brand1
pdd['Product Description']=prd1
pdd['Product price']=price1
pdd

,Brand,Product Description,Product price
0,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499
1,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹639
2,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹221
3,PIRASO,UV Protection Aviator Sunglasses (56),₹349
4,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹324
5,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189
6,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269
7,NuVew,"UV Protection Retro Square, Wayfarer Sunglasse...",₹275
8,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹233
9,hipe,Mirrored Wayfarer Sunglasses (55),₹229
10,Elligator,UV Protection Round Sunglasses (53),₹229
11,VINCENT CHASE,UV Protection Cat-eye Sunglasses (54),₹649
12,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹329
13,HIPPON,UV Protection Wayfarer Sunglasses (55),₹171
14,SRPM,UV Protection Wayfarer Sunglasses (53),₹246
15,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349
16,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499
17,GANSTA,UV Protection Aviator Sunglasses (57),₹284
18,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276
19,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449
20,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹799
21,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹379
22,Fastrack,UV Protection Shield Sunglasses (Free Size),₹809
23,PIRASO,UV Protection Aviator Sunglasses (58),₹349
24,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹498
25,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269
26,kingsunglasses,UV Protection Round Sunglasses (54),₹214
27,Singco India,UV Protection Aviator Sunglasses (45),₹329
28,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...",₹499
29,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)",₹245
30,hipe,"UV Protection, Night Vision, Riding Glasses, G...",₹179
31,ROYAL SON,UV Protection Retro Square Sunglasses (60),₹699
32,Fastrack,UV Protection Aviator Sunglasses (57),₹639
33,New Specs,UV Protection Round Sunglasses (Free Size),₹264
34,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹259
35,PIRASO,UV Protection Aviator Sunglasses (50),₹349
36,Roadster,UV Protection Aviator Sunglasses (60),₹709
37,SRPM,"Others Wayfarer, Retro Square Sunglasses (50)",₹239
38,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639
39,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),₹616

Now to go to third page and extract 41- 80 items details

In [306]:
next1_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next1_button.click()

3rd Page details scrapping 81-100 items

In [307]:
brand11=[]
prd11=[]
price11=[]

In [308]:
#extract brand
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="edee6182-0d6d-4e8e-902d-50fee886e39b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="edb7b4ed-f46c-4fd6-b53f-0aecb9287890")>]

In [309]:
for i in brand_tags:
    brd=i.text
    brand11.append(brd)
brand11[0:2]

['ROZZETTA CRAFT', 'Silver Kartz']

In [310]:
#extract product description
prd_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
prd_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="3edbe618-0465-4ed8-8ea4-6038f5bf2947")>,
 <selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="0fca2aee-7998-4594-a808-65672da6a93a")>]

In [311]:
for i in prd_tags:
    prdi=i.text
    prd11.append(prdi)
prd11[0:2]

['UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)']

In [312]:
#extract product price
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="c844a2a4-c9e2-43ac-a90a-ffc6824aad28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="badbe35eef074e246685be00705884a2", element="fb180bb7-0984-4e05-8b8d-fe5104ed0cde")>]

In [313]:
for i in price_tags:
    prc=i.text
    price11.append(prc)
price11[0:2]

['₹349', '₹320']

In [314]:
print(len(brand11),len(prd11),len(price11))

40 39 40

In [ ]:
pdd=pd.DataFrame({})
pdd['Brand']=brand11
pdd['Product Description']=prd11
pdd['Product price']=price11
pdd.head(20)

In [ ]:
driver.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [315]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [316]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC")

In [317]:
#finding element for reviews
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div')
search_button.click()

In [318]:
rating=[]
summ=[]
rev=[]

1st page reviews

In [319]:
#extract ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rat_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="88adacf0-356c-417e-b2e0-41f43b626a71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="9f07cd0e-3654-4679-9e03-cc23d2d57f0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="b7a24961-3723-478a-9a39-a7dc99858248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="d65f4280-0ef0-4c3b-8e28-ebc883dd1b73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="61a28da3-f3b8-48aa-8acb-591ad015a3f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="9497b9ee-0b82-4f2d-8b02-ab9ace12392c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="d913334e-228d-46f7-9fe9-e0449fbb1ca7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="69d9fba8-6935-43ec-a3ef-a85a0a7d9580")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="df1833f6-dfa6-4302-9126-e6e840253265")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="aef48fd1-6e56-465f-9ba5-2666fafef770")>]

In [320]:
for i in rat_tags:
    ratt=i.text
    rating.append(ratt)
rating

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [321]:
#extract summary
su_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
su_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="ac6ae303-bb6e-4cd5-8e5e-df62d3d07f34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="269722b3-1783-4b46-a6cd-be1f1c244201")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="33b03e2b-c58c-4ba6-adbe-1e12bd53fbd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="0fdeb922-5fed-40f2-b655-e1e7c99af435")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="bc0136d1-0ebd-443d-b4f4-2345eb3dcf03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="ec12dd0d-e433-4ce7-ba46-aaad53e32702")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="a9209055-a915-4383-a3d0-2370aebccc6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="07692937-157b-44a2-850c-46d01a4b59b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="66f99775-f610-4b11-90f9-ccf8c78461e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="bb7f8f28-9e68-4191-b6a7-c8779f7bd965")>]

In [322]:
for i in su_tags:
    suma=i.text
    summ.append(suma)
summ

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Highly recommended',
 'Good choice',
 'Worth every penny']

In [323]:
#extract reviews
re_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
re_tags

[<selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="8eb13fd2-5803-4e8d-adff-f38ed0cc5602")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="3cfb846f-9de3-48a8-a90d-7d8dde80c53d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="790f8519-c678-4aab-80de-f3b4fc2ed9e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="bf28f084-b6a9-4e44-a57c-34b9b406e545")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="d178d52a-9fa9-4b40-8978-9d04a9cc13e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="c6bc2af5-6f28-4c74-84ef-718e66c7b57e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="8296767d-318b-4de5-b5e5-7cb2379d9a68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="fb5bb3e8-b620-4a3b-8320-0ea49f98aed7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="2ad8d168-ce39-4f9a-94c8-97769d12de1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b07ee54cff290b7005082da3c0e0c41b", element="29dfe7df-9ab7-4a0d-aae0-d53d844172ac")>]

In [324]:
for i in re_tags:
    revv=i.text
    rev.append(revv)
rev

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [325]:
iphone=pd.DataFrame({})
iphone['Rating']=rating
iphone['Summary']=summ
iphone['Review']=rev
iphone

,Rating,Summary,Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,5,Highly recommended,What a camera .....just awesome ..you can feel...
8,4,Good choice,So far it’s been an AMAZING experience coming ...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

In [326]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
next_button.click()

2nd Page reviews scrapping

In [327]:
rating1=[]
summ1=[]
rev1=[]

#extract ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rat_tags

for i in rat_tags:
    ratt=i.text
    rating1.append(ratt)
rating1

#extract summary
su_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
su_tags

for i in su_tags:
    suma=i.text
    summ1.append(suma)
summ1

#extract reviews
re_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
re_tags

for i in re_tags:
    revv=i.text
    rev1.append(revv)
rev1

iphone=pd.DataFrame({})
iphone['Rating']=rating1
iphone['Summary']=summ1
iphone['Review']=rev1
iphone

,Rating,Summary,Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,5,Highly recommended,What a camera .....just awesome ..you can feel...
8,4,Good choice,So far it’s been an AMAZING experience coming ...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

In [331]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

3rd page scrapping data

In [332]:
rating2=[]
summ2=[]
rev2=[]

#extract ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rat_tags

for i in rat_tags:
    ratt=i.text
    rating2.append(ratt)
rating2

#extract summary
su_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
su_tags

for i in su_tags:
    suma=i.text
    summ2.append(suma)
summ2

#extract reviews
re_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
re_tags

for i in re_tags:
    revv=i.text
    rev2.append(revv)
rev2

iphone=pd.DataFrame({})
iphone['Rating']=rating2
iphone['Summary']=summ2
iphone['Review']=rev2
iphone

,Rating,Summary,Review
0,5,Perfect product!,After 1 month use I found camera quality best ...
1,5,Simply awesome,It's very high performances devise i am like t...
2,5,Wonderful,I just directly switch from iphone 6s to iphon...
3,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
4,5,Terrific purchase,The built quality is not very premium.\nThe ba...
5,5,Great product,Well you all know the specifications . One of ...
6,5,Mind-blowing purchase,This will help you more. See if you are planni...
7,5,Excellent,Amazing camera and feel super machine I am not...
8,5,Simply awesome,Really good actually this is my first apple pr...
9,4,Good quality product,it is very good at performance. Camera is best...

In [333]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

4th page scrapping data

In [334]:
rating3=[]
summ3=[]
rev3=[]

#extract ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rat_tags

for i in rat_tags:
    ratt=i.text
    rating3.append(ratt)
rating3

#extract summary
su_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
su_tags

for i in su_tags:
    suma=i.text
    summ3.append(suma)
summ3

#extract reviews
re_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
re_tags

for i in re_tags:
    revv=i.text
    rev3.append(revv)
rev3

iphone=pd.DataFrame({})
iphone['Rating']=rating3
iphone['Summary']=summ3
iphone['Review']=rev3
iphone

,Rating,Summary,Review
0,5,Perfect product!,After 1 month use I found camera quality best ...
1,5,Simply awesome,It's very high performances devise i am like t...
2,5,Wonderful,I just directly switch from iphone 6s to iphon...
3,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
4,5,Terrific purchase,The built quality is not very premium.\nThe ba...
5,5,Great product,Well you all know the specifications . One of ...
6,5,Mind-blowing purchase,This will help you more. See if you are planni...
7,5,Excellent,Amazing camera and feel super machine I am not...
8,5,Simply awesome,Really good actually this is my first apple pr...
9,4,Good quality product,it is very good at performance. Camera is best...

In [335]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

5th page scrapping data

In [ ]:
rating4=[]
summ4=[]
rev4=[]

#extract ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rat_tags

for i in rat_tags:
    ratt=i.text
    rating4.append(ratt)
rating4

#extract summary
su_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
su_tags

for i in su_tags:
    suma=i.text
    summ4.append(suma)
summ4

#extract reviews
re_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
re_tags

for i in re_tags:
    revv=i.text
    rev4.append(revv)
rev4

iphone=pd.DataFrame({})
iphone['Rating']=rating4
iphone['Summary']=summ4
iphone['Review']=rev4
iphone

In [337]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

6th page scrapping data

In [338]:
rating5=[]
summ5=[]
rev5=[]

#extract ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rat_tags

for i in rat_tags:
    ratt=i.text
    rating5.append(ratt)
rating5

#extract summary
su_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
su_tags

for i in su_tags:
    suma=i.text
    summ5.append(suma)
summ5

#extract reviews
re_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
re_tags

for i in re_tags:
    revv=i.text
    rev5.append(revv)
rev5

iphone=pd.DataFrame({})
iphone['Rating']=rating5
iphone['Summary']=summ5
iphone['Review']=rev5
iphone

  Rating            Summary                                             Review
0      4          Very Good  impressive super phone and best in class camer...
1      5          Wonderful  Super and marvellous phone look very cute and ...
2      5     Classy product  Well while switching from android to iOS the f...
3      5          Just wow!  Best in class. Battery backup is good especial...
4      5            Awesome  Very excited to have this phone. This phone ha...
5      4        Pretty good  I was using Iphone 6s and also Oneplus 6t. Bot...
6      5  Terrific purchase  Its Very awesome product working and good came...
7      5            Awesome  I am using this phone for 5 days and its one o...
8      5     Classy product  Best and amazing product.....phone looks so pr...
9      5          Brilliant  Excellent camera and display touching very nic...

In [339]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

7th page scrapping data

In [ ]:
rating6=[]
summ6=[]
rev6=[]

#extract ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rat_tags

for i in rat_tags:
    ratt=i.text
    rating6.append(ratt)
rating6

#extract summary
su_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
su_tags

for i in su_tags:
    suma=i.text
    summ6.append(suma)
summ6

#extract reviews
re_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
re_tags

for i in re_tags:
    revv=i.text
    rev6.append(revv)
rev6

iphone=pd.DataFrame({})
iphone['Rating']=rating6
iphone['Summary']=summ6
iphone['Review']=rev6
iphone

In [341]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

8th page scrapping data

In [342]:
rating7=[]
summ7=[]
rev7=[]

#extract ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rat_tags

for i in rat_tags:
    ratt=i.text
    rating7.append(ratt)
rating7

#extract summary
su_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
su_tags

for i in su_tags:
    suma=i.text
    summ7.append(suma)
summ7

#extract reviews
re_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
re_tags

for i in re_tags:
    revv=i.text
    rev7.append(revv)
rev7

iphone=pd.DataFrame({})
iphone['Rating']=rating7
iphone['Summary']=summ7
iphone['Review']=rev7
iphone

,Rating,Summary,Review
0,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
1,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
2,5,Brilliant,Amazing phone and on great deal I received wit...
3,5,Terrific purchase,finally an iPhone with very nice battery backu...
4,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
5,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
6,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
7,5,Perfect product!,Worth the money’ starting first from its perfo...
8,5,Awesome,I dreamt about this day from a long time.... G...
9,4,Value-for-money,I'm Really happy with the product\nDelivery wa...

In [343]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

9th page scrapping data

In [ ]:
rating8=[]
summ8=[]
rev8=[]

#extract ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rat_tags

for i in rat_tags:
    ratt=i.text
    rating8.append(ratt)
rating8

#extract summary
su_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
su_tags

for i in su_tags:
    suma=i.text
    summ8.append(suma)
summ8

#extract reviews
re_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
re_tags

for i in re_tags:
    revv=i.text
    rev8.append(revv)
rev8

iphone=pd.DataFrame({})
iphone['Rating']=rating8
iphone['Summary']=summ8
iphone['Review']=rev8
iphone

In [345]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

10th page scrapping data

In [346]:
rating9=[]
summ9=[]
rev9=[]

#extract ratings
rat_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rat_tags

for i in rat_tags:
    ratt=i.text
    rating9.append(ratt)
rating9

#extract summary
su_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
su_tags

for i in su_tags:
    suma=i.text
    summ9.append(suma)
summ9

#extract reviews
re_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
re_tags

for i in re_tags:
    revv=i.text
    rev9.append(revv)
rev9

iphone=pd.DataFrame({})
iphone['Rating']=rating9
iphone['Summary']=summ9
iphone['Review']=rev9
iphone

,Rating,Summary,Review
0,5,Just wow!,"Not mere a phone , Its more than that for fun ..."
1,5,Wonderful,"Ok, so after almost 3 years I am again back in..."
2,4,Nice product,If you are looking for a premium phone under 5...
3,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
4,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
5,5,Excellent,Just go for it.\nThis phone is really amazing....
6,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
7,5,Brilliant,A wort full value for money decision it’s . Si...
8,5,Excellent,A perfect phone and a good battery super camer...
9,4,Pretty good,I've used this phone for over a month now and ...

In [347]:
driver.close()

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [348]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [349]:
driver.get("https://www.flipkart.com/")

In [350]:
#finding element for job search bar
search_field_designation=driver.find_element_by_class_name("_3704LK")
search_field_designation.send_keys("sneakers")

In [351]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

1st page scrapping

In [352]:
name=[]
descp=[]
prc=[]

In [353]:
#extract name
rat_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
rat_tags

for i in rat_tags:
    ratt=i.text
    name.append(ratt)
name

['Layasa',
 'Viv',
 'URBANBOX',
 'aadi',
 'corsac',
 'Chevit',
 'D-SNEAKERZ',
 'SWIGGY',
 'BRUTON',
 'World Wear Footwear',
 'Labbin',
 'ZF - ALFIYA',
 'World Wear Footwear',
 'Magnolia',
 'World Wear Footwear',
 'Extoes',
 'aadi',
 'Chevit',
 'ASTEROID',
 'Bacan',
 'ASTEROID',
 'Kraasa',
 'PUMA',
 'Nilatin',
 'BIRDE',
 'BRUTON',
 'SCATCHITE',
 'Shoes Bank',
 'aadi',
 'Kraasa',
 'Airland',
 'CLYMB',
 'World Wear Footwear',
 'Chevit',
 'D-SNEAKERZ',
 'U.S. POLO ASSN.',
 'BIRDE',
 'corsac',
 'Arohi',
 'FEWROK']

In [354]:
#extract description
su_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")
su_tags

for i in su_tags:
    suma=i.text
    descp.append(suma)
descp

['Sneakers Sneakers For Men',
 'Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Premium quality Sneakers For Men']

In [355]:
#extract price
re_tags=driver.find_elements_by_xpath("//a[@class='_3bPFwb']")
re_tags

for i in re_tags:
    revv=i.text
    prc.append(revv)
prc

['₹399₹99960% off\nFree delivery',
 '₹614₹1,29952% off\nFree delivery',
 '₹158₹99984% off',
 '₹269₹99973% off\nFree delivery',
 '₹449₹1,49970% off\nFree delivery',
 '₹249₹79968% off',
 '₹349₹65947% off\nFree delivery',
 '₹249₹49950% off\nFree delivery',
 '₹299₹1,29976% off\nFree delivery',
 '₹199₹49960% off\nFree delivery',
 '₹424₹99957% off\nFree delivery',
 '₹395₹99960% off\nFree delivery',
 '₹199₹49960% off\nFree delivery',
 '₹422₹99957% off\nFree delivery',
 '₹199₹49960% off\nFree delivery',
 '₹498₹99950% off\nFree delivery',
 '₹269₹1,99986% off\nFree delivery',
 '₹565₹2,29775% off\nFree delivery',
 '₹449₹1,99977% off\nFree delivery',
 '₹423₹99957% off\nFree delivery',
 '₹449₹99955% off\nFree delivery',
 '₹421₹99957% off\nFree delivery',
 '₹1,749₹2,99941% off\nFree delivery',
 '₹424₹1,99978% off\nFree delivery',
 '₹347₹99965% off\nFree delivery',
 '₹158₹59973% off\nFree delivery',
 '₹348₹99965% off\nFree delivery',
 '₹348₹99965% off\nFree delivery',
 '₹269₹99973% off\nFree delivery',
 '₹421₹99957% off\nFree delivery',
 '₹209₹49958% off\nFree delivery',
 '₹179₹99982% off\nFree delivery',
 '₹199₹49960% off\nFree delivery',
 '₹209₹79973% off',
 '₹384₹99961% off\nFree delivery',
 '₹2,579₹4,29940% off\nFree delivery',
 '₹369₹99963% off\nFree delivery',
 '₹499₹1,49966% off',
 '₹379₹99962% off\nFree delivery',
 '₹369₹99963% off']

In [356]:
print(len(name),len(descp),len(prc))

40 4 40

In [ ]:
snk=pd.DataFrame({})
snk['Rating']=name
snk['Summary']=descp
snk['Review']=prc
snk

In [359]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
search_button.click()

2nd page scrapping

In [361]:
name1=[]
descp1=[]
prc1=[]

#extract name
rat_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
rat_tags

for i in rat_tags:
    ratt=i.text
    name1.append(ratt)
name1

['ASTEROID',
 'Cross Finger',
 'PUMA',
 'Viv',
 'ANTA',
 'PUMA',
 'VECHLO',
 'DUNKASTON',
 'Zorth',
 'SPARX',
 'PUMA',
 'Hotmess',
 'RED TAPE',
 'BIRDE',
 'HRX by Hrithik Roshan',
 'Field Care',
 'Bacan',
 'FLYING MACHINE',
 'Starlinc',
 'HAKKEL',
 'PUMA',
 'Next INN',
 'PUMA',
 'VECHLO',
 'BRUTON',
 'ozzy',
 'Aadwin',
 'MOZAFIA',
 'Roadster',
 'MR HERRIC',
 'SKYMORE',
 'U.S. POLO ASSN.',
 'Unistar',
 'WOODLAND',
 'Navtrend',
 'Extoes',
 'SRBF',
 'GVSSHOES',
 'SPARX',
 'PUMA']

In [362]:
#extract description
su_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")
su_tags

for i in su_tags:
    suma=i.text
    descp1.append(suma)
descp1

['Sneakers For Men',
 'Mens Causal Sneakers White Gray Boys Smart Sneakers Sho...',
 'SM-641 Sneakers For Men',
 'Sneakers For Men',
 'Casual Flat Sole Fashionable Trendy Outdoor Comfortable...',
 'Sneakers For Men',
 'Fashion Shoes for mens Latest Design Partywear| New Mod...',
 'Comfortable Light Lace up Casual Sneakers Shoes For Men...',
 'casual sneaker shoes for men and Boy Sneakers For Men',
 'Sneakers For Men',
 'X-Ray Speed Sneakers For Men']

In [363]:
#extract price
re_tags=driver.find_elements_by_xpath("//a[@class='_3bPFwb']")
re_tags

for i in re_tags:
    revv=i.text
    prc1.append(revv)
prc1

['₹549₹1,99972% off',
 '₹479₹99952% off',
 '₹1,783₹3,49949% off\nFree delivery',
 '₹477₹1,49968% off\nFree delivery',
 '₹1,492₹4,49966% off\nFree delivery',
 '₹1,979₹3,49943% off\nFree delivery',
 '₹379₹99962% off\nFree delivery',
 '₹349₹1,49976% off\nFree delivery',
 '₹410₹99958% off\nFree delivery',
 '₹1,399₹1,4493% off\nFree delivery',
 '₹2,974₹6,99957% off\nFree delivery',
 '₹182₹49963% off\nFree delivery',
 '₹1,329₹4,59971% off\nFree delivery',
 '₹301₹99969% off\nFree delivery',
 '₹789₹2,79971% off\nFree delivery',
 '₹899₹1,99955% off\nFree delivery',
 '₹449₹99955% off\nFree delivery',
 '₹1,576₹2,59939% off\nFree delivery',
 '₹279₹99972% off',
 '₹499₹1,39964% off\nFree delivery',
 '₹1,274₹3,29961% off\nFree delivery',
 '₹395₹1,29969% off\nFree delivery',
 '₹2,011₹3,79947% off\nFree delivery',
 '₹379₹99962% off\nFree delivery',
 '₹249₹1,29980% off\nFree delivery',
 '₹414₹99958% off\nFree delivery',
 '₹399₹99960% off',
 '₹849₹99915% off\nFree delivery',
 '₹1,638₹2,89943% off\nFree delivery',
 '₹395₹99960% off\nFree delivery',
 '₹291₹99870% off\nFree delivery',
 '₹1,835₹2,99938% off\nFree delivery',
 '₹239₹39940% off\nFree delivery',
 '₹1,789₹2,39525% off\nFree delivery',
 '₹379₹1,99981% off\nFree delivery',
 '₹498₹99950% off\nFree delivery',
 '₹439₹1,99978% off',
 '₹449₹99955% off',
 '₹999₹1,29923% off\nFree delivery',
 '₹5,899₹6,99915% off\nFree delivery']

In [ ]:
snk=pd.DataFrame({})
snk['Rating']=name1
snk['Summary']=descp1
snk['Review']=prc1
snk

In [365]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
search_button.click()

3rd page scrapping 81-100 items

In [366]:
name2=[]
descp2=[]
prc2=[]

#extract name
rat_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
rat_tags

for i in rat_tags:
    ratt=i.text
    name2.append(ratt)
name2

['Navtrend',
 'GVSSHOES',
 'HRX by Hrithik Roshan',
 'BIRDE',
 'RED TAPE',
 'Jack Diamond',
 'ERIX',
 'Bacan',
 'Cipramo',
 'asics',
 'PUMA',
 'Bacan',
 'bacca bucci',
 'Vask',
 'Starlinc',
 'Bacan',
 'Chevit',
 'HOCKWOOD',
 'PUMA',
 'KNIGHT WALKERS',
 'SPARX',
 'HOCKWOOD',
 'Bretton',
 'Viv',
 'ROCKFIELD',
 'PUMA',
 'Qtsy',
 'Red Rose',
 'Zsyto',
 'Xtoon',
 'Absolute comfort',
 'U.S. POLO ASSN.',
 'PUMA',
 'BIZAZO',
 'Zixer',
 'STRANGER BROTHERS',
 'BRUTON',
 'SPARX',
 'SERSI',
 'ADIDAS ORIGINALS']

In [367]:
#extract description
su_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")
su_tags

for i in su_tags:
    suma=i.text
    descp2.append(suma)
descp2

['Sneakers For Men',
 'Sneakers For Men',
 'Comfortable Light Lace up Casual White Sneakers Shoes F...',
 'Comfortable Premium Stylish Unique Trendy Popular TOUCH...',
 'Sneakers For Men',
 'Unique & Perfect Combo Pack of 02 Pair Casual Sneaker C...',
 'Street Smart Sneakers For Men',
 'Sneakers For Men',
 'Men 192 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Classy Stylish Ayasa Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Stylish Design Sneakers Shoes For Men & Boys - Play Whi...',
 'Sneakers For Men',
 'white sport shoes for mens Sneakers For Men',
 'Sneakers For Men',
 'Sneakers,Sports,Casual,Walking,Running,Cricket,Football...',
 "Men's Streetwear Pro Style High Top Platform Fashion Sn..."]

In [368]:
#extract price
re_tags=driver.find_elements_by_xpath("//a[@class='_3bPFwb']")
re_tags

for i in re_tags:
    revv=i.text
    prc2.append(revv)
prc2

['₹379₹1,99981% off\nFree delivery',
 '₹449₹99955% off',
 '₹2,356₹3,19926% off\nFree delivery',
 '₹596₹1,49960% off\nFree delivery',
 '₹1,449₹4,99971% off\nFree delivery',
 '₹695₹99930% off',
 '₹440₹1,49970% off\nFree delivery',
 '₹449₹99955% off\nFree delivery',
 '₹949₹9995% off\nFree delivery',
 '₹2,469₹4,49945% off\nFree delivery',
 '₹2,769₹6,99960% off\nFree delivery',
 '₹449₹99955% off\nFree delivery',
 '₹1,148₹2,49954% off\nFree delivery',
 '₹249₹1,49983% off\nFree delivery',
 '₹279₹99972% off',
 '₹399₹99960% off\nFree delivery',
 '₹571₹1,79868% off\nFree delivery',
 '₹709₹99929% off',
 '₹2,699₹5,49950% off\nFree delivery',
 '₹598₹1,49960% off\nFree delivery',
 '₹841₹1,04919% off\nFree delivery',
 '₹639₹99936% off',
 '₹201₹99979% off',
 '₹614₹1,29952% off\nFree delivery',
 '₹449₹99955% off\nFree delivery',
 '₹3,199₹4,99936% off\nFree delivery',
 '₹188₹49962% off',
 '₹349₹99965% off\nFree delivery',
 '₹298₹1,29977% off',
 '₹399₹99960% off',
 '₹158₹49968% off',
 '₹2,469₹3,99938% off\nFree delivery',
 '₹4,192₹8,99953% off\nFree delivery',
 '₹448₹1,14961% off',
 '₹616₹1,99969% off',
 '₹409₹99959% off\nFree delivery',
 '₹505₹2,49979% off\nFree delivery',
 '₹999₹1,29923% off\nFree delivery',
 '₹424₹1,99978% off\nFree delivery',
 '₹5,209₹7,59931% off\nFree delivery']

In [ ]:
snk=pd.DataFrame({})
snk['Rating']=name2
snk['Summary']=descp2
snk['Review']=prc2
snk.head(20)

In [370]:
driver.close()

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [196]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [197]:
driver.get("https://www.myntra.com/shoes")

Selcting filter to black

In [198]:
search_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
search_button.click()

In [199]:
search_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
search_button.click()

1st page scrapping data

In [200]:
name=[]
descp=[]
prc=[]

#extract name
rat_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
rat_tags

for i in rat_tags:
    ratt=i.text
    name.append(ratt)
name

['Puma',
 'ALDO',
 'Nike',
 'ADIDAS',
 'ALDO',
 'one8 x PUMA',
 'Skechers',
 'ALDO',
 'Puma',
 'ALDO',
 'ALDO',
 'Hush Puppies',
 'ALDO',
 'Nike',
 'PUMA Motorsport',
 'PUMA Motorsport',
 'ADIDAS',
 'Puma',
 'Columbia',
 'Skechers',
 'Hush Puppies',
 'Skechers',
 'Puma',
 'Puma',
 'Puma',
 'Bugatti',
 'ADIDAS Originals',
 'Nike',
 'Reebok',
 'Skechers',
 'PUMA Motorsport',
 'ADIDAS',
 'Hush Puppies',
 'ADIDAS Originals',
 'Puma',
 'Puma',
 'ADIDAS',
 'Puma',
 'Tommy Hilfiger',
 'Puma',
 'Bugatti',
 'Hush Puppies',
 'Tommy Hilfiger',
 'DAVINCHI',
 'DAVINCHI',
 'Saint G',
 'DEL MONDO',
 'Bugatti',
 'Puma',
 'Bugatti']

In [201]:
print(len(name))

50

In [202]:
#extract description
su_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
su_tags

for i in su_tags:
    suma=i.text
    descp.append(suma)
descp

['Electrify Nitro Running Shoes',
 'Men Leather Driving Shoes',
 'Men KF 5 EP Basketball Shoes',
 'Men Dropset Training Shoes',
 'Men Woven Design Sneakers',
 'Men Fuse One8 Training Shoes',
 'Men Max Cushioning Running',
 'Men Sneakers',
 'Men Colourblocked RS-Z Core',
 'Men Textured Sneakers',
 'Men Textured Slip-On Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Leather Loafers',
 'Men Air Max Dawn Sneakers',
 'Unisex Ferrari IONSpeed',
 'Ferrari X-Ray Speed Sneakers',
 'Men Sl20.3 Running Shoes',
 'Men D Nitro WTR Running Shoes',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Sky Vault Walking Shoes',
 'Men Formal Derbys',
 'Men Walking Shoes',
 'Eternity Nitro Running Shoes',
 'Men Training or Gym Shoes',
 'Men Running Shoes',
 'Men Solid Sneakers',
 'Men Solid Ozweego Sneakers',
 'Men AIR MAX PRE-DAY Sneakers',
 'Men Zig Dynamica 2.0 Running',
 'Men MAX CUSHIONING ELITE-LUCID',
 'Men ZenonSpeed Sneakers',
 'Men Solar Glide 5 Running Shoe',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Retropy F2 Sneakers',
 'Women Kosmo Rider DC5 Sneakers',
 'Mirage Sport Hacked Sneakers',
 'Women Supernova Running Shoes',
 'Women XT FTR Training Shoes',
 'Men Textured Loafers',
 'Men Golf Shoes',
 'Men Black Formal Derby Shoes',
 'Men Solid Formal Slip-Ons',
 'Men Leather Sneakers',
 'Men Textured Formal Leather Loafers',
 'Men Solid Leather Formal Loafers',
 'Leather Block Sandals',
 'Men Leather Sneakers',
 'Men Leather Driving Shoes',
 'Men Deviate Nitro Shoes',
 'Men Leather Monks']

In [203]:
print(len(descp))

50

In [204]:
#extract price
re_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
re_tags

for i in re_tags:
    revv=i.text
    prc.append(revv)
prc

['Rs. 9999',
 'Rs. 12999',
 'Rs. 8195',
 'Rs. 12999',
 'Rs. 13999',
 'Rs. 7999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 12999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 12999',
 'Rs. 9295',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 11199Rs. 15999(30% OFF)',
 'Rs. 12999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 10499',
 'Rs. 9349Rs. 10999(15% OFF)',
 'Rs. 13995',
 'Rs. 7999',
 'Rs. 8074Rs. 9499(15% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 13999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 7999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 11999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7309Rs. 8599(15% OFF)',
 'Rs. 8990',
 'Rs. 8490',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 7890',
 'Rs. 8499',
 'Rs. 11999Rs. 14999(20% OFF)',
 'Rs. 8999']

In [205]:
print(len(prc))

50

In [206]:
shoe=pd.DataFrame({})
shoe['Rating']=name
shoe['Summary']=descp
shoe['Review']=prc
shoe

,Rating,Summary,Review
0,Puma,Electrify Nitro Running Shoes,Rs. 9999
1,ALDO,Men Leather Driving Shoes,Rs. 12999
2,Nike,Men KF 5 EP Basketball Shoes,Rs. 8195
3,ADIDAS,Men Dropset Training Shoes,Rs. 12999
4,ALDO,Men Woven Design Sneakers,Rs. 13999
5,one8 x PUMA,Men Fuse One8 Training Shoes,Rs. 7999
6,Skechers,Men Max Cushioning Running,Rs. 7649Rs. 8999(15% OFF)
7,ALDO,Men Sneakers,Rs. 9999
8,Puma,Men Colourblocked RS-Z Core,Rs. 9999
9,ALDO,Men Textured Sneakers,Rs. 10999
10,ALDO,Men Textured Slip-On Sneakers,Rs. 12999
11,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
12,ALDO,Men Leather Loafers,Rs. 12999
13,Nike,Men Air Max Dawn Sneakers,Rs. 9295
14,PUMA Motorsport,Unisex Ferrari IONSpeed,Rs. 7199Rs. 8999(20% OFF)
15,PUMA Motorsport,Ferrari X-Ray Speed Sneakers,Rs. 7999
16,ADIDAS,Men Sl20.3 Running Shoes,Rs. 11999
17,Puma,Men D Nitro WTR Running Shoes,Rs. 11199Rs. 15999(30% OFF)
18,Columbia,Men FACET OUTDRY Trekking Shoe,Rs. 12999
19,Skechers,Men Sky Vault Walking Shoes,Rs. 7649Rs. 8999(15% OFF)
20,Hush Puppies,Men Formal Derbys,Rs. 8499Rs. 9999(15% OFF)
21,Skechers,Men Walking Shoes,Rs. 7649Rs. 8999(15% OFF)
22,Puma,Eternity Nitro Running Shoes,Rs. 8449Rs. 12999(35% OFF)
23,Puma,Men Training or Gym Shoes,Rs. 7999
24,Puma,Men Running Shoes,Rs. 7999Rs. 9999(20% OFF)
25,Bugatti,Men Solid Sneakers,Rs. 10499
26,ADIDAS Originals,Men Solid Ozweego Sneakers,Rs. 9349Rs. 10999(15% OFF)
27,Nike,Men AIR MAX PRE-DAY Sneakers,Rs. 13995
28,Reebok,Men Zig Dynamica 2.0 Running,Rs. 7999
29,Skechers,Men MAX CUSHIONING ELITE-LUCID,Rs. 8074Rs. 9499(15% OFF)
30,PUMA Motorsport,Men ZenonSpeed Sneakers,Rs. 7199Rs. 8999(20% OFF)
31,ADIDAS,Men Solar Glide 5 Running Shoe,Rs. 13999
32,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
33,ADIDAS Originals,Men Solid Retropy F2 Sneakers,Rs. 7649Rs. 8999(15% OFF)
34,Puma,Women Kosmo Rider DC5 Sneakers,Rs. 7999
35,Puma,Mirage Sport Hacked Sneakers,Rs. 7199Rs. 8999(20% OFF)
36,ADIDAS,Women Supernova Running Shoes,Rs. 9999
37,Puma,Women XT FTR Training Shoes,Rs. 7499
38,Tommy Hilfiger,Men Textured Loafers,Rs. 8999
39,Puma,Men Golf Shoes,Rs. 8999
40,Bugatti,Men Black Formal Derby Shoes,Rs. 11999
41,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
42,Tommy Hilfiger,Men Leather Sneakers,Rs. 7309Rs. 8599(15% OFF)
43,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
44,DAVINCHI,Men Solid Leather Formal Loafers,Rs. 8490
45,Saint G,Leather Block Sandals,Rs. 9810Rs. 10900(10% OFF)
46,DEL MONDO,Men Leather Sneakers,Rs. 7890
47,Bugatti,Men Leather Driving Shoes,Rs. 8499
48,Puma,Men Deviate Nitro Shoes,Rs. 11999Rs. 14999(20% OFF)
49,Bugatti,Men Leather Monks,Rs. 8999

2nd page scrapping

In [207]:
search_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]')
search_button.click()

In [208]:
name1=[]
descp1=[]
prc1=[]

#extract name
rat_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
rat_tags

for i in rat_tags:
    ratt=i.text
    name1.append(ratt)
name1

['Bugatti',
 'Skechers',
 'ADIDAS',
 'Bugatti',
 'ADIDAS',
 'Geox',
 'Geox',
 'Geox',
 'ROSSO BRUNELLO',
 'Geox',
 'Geox',
 'Geox',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Clarks',
 'PUMA Hoops',
 'Columbia',
 'Puma',
 'Bugatti',
 'Saint G',
 'ASICS',
 'Geox',
 'Birkenstock',
 'Geox',
 'J.FONTINI',
 'Bugatti',
 'DAVINCHI',
 'Hush Puppies',
 'DAVINCHI',
 'J.FONTINI',
 'J.FONTINI',
 'Sole To Soul',
 'Saint G',
 'ALDO',
 'ECCO',
 'ALDO',
 'Bugatti',
 'Bugatti',
 'Geox',
 'Saint G',
 'MANGO',
 'Geox',
 'Geox',
 'Geox',
 'Geox',
 'Onitsuka Tiger',
 'Cole Haan',
 'J.FONTINI',
 'J.FONTINI',
 'Heel & Buckle London']

In [209]:
print(len(name))

50

In [210]:
#extract description
su_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
su_tags

for i in su_tags:
    suma=i.text
    descp1.append(suma)
descp1

['Men Leather Monks',
 'Men Go Walk 5 Walking Shoes',
 'Women KarlieKlossX9000 Running',
 'Leather Block Heeled Boots',
 'Women Dropset Training Shoes',
 'Men Textured Leather Driving Shoes',
 'Men Textured Leather Sneakers',
 'Men Textured Leather Driving Shoes',
 '',
 'Men Textured Leather Driving Shoes',
 'Men Textured Leather Driving Shoes',
 'Men Textured Leather Driving Shoes',
 'Men UA Charged Breeze Training',
 'Men UA Charged Vantage 2 Run',
 'Men Leather Derbys',
 'Unisex Fusion Nitro Basketball',
 'Women Trekking Shoes',
 'Women Eternity NITRO Shoes',
 'Men Walking Shoes',
 'Embellished Chelsea Boots',
 'Women Running Shoes',
 'Men Leather Driving Shoes',
 'Unisex Boston Super Grip Clogs',
 'Men Formal Derbys',
 'Men Solid Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Textured Formal Leather Loafers',
 'Men Solid Leather Formal Derbys',
 'Ustraa black',
 'Men Leather Formal Loafers',
 'Men Leather Formal Loafers',
 'High-Top Block Heeled Boots',
 'Women Leather Loafers',
 'Embellished Wedge Sandals',
 'Leather Block Pumps',
 'Leather Slim Heels',
 'Women Leather Heeled Boots',
 'Printed Leather Sandals with Buckles',
 'Leather Block Sandals',
 'Leather Party Block Sandals',
 'Embellish Mid-Top Heeled Boots',
 'Women Ballerinas Flats',
 'Women Textured Leather Loafers',
 'Women Textured Leather Loafers',
 'Women Open Toe Flats',
 'Unisex Ok Basketball MT',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Men Formal Leather Derby']

In [211]:
print(len(descp))

50

In [212]:
#extract price
re_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
re_tags

for i in re_tags:
    revv=i.text
    prc1.append(revv)
prc1

['Rs. 8999',
 'Rs. 8499',
 'Rs. 13999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 12999',
 'Rs. 10490',
 'Rs. 9990',
 'Rs. 10990',
 'Rs. 9999',
 'Rs. 9990',
 'Rs. 10990',
 'Rs. 10990',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 8999',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 9999',
 'Rs. 10355Rs. 10900(5% OFF)',
 'Rs. 7999',
 'Rs. 9499',
 'Rs. 9290',
 'Rs. 9990',
 'Rs. 8990',
 'Rs. 9499',
 'Rs. 8990',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8990',
 'Rs. 7490',
 'Rs. 7490',
 'Rs. 7900',
 'Rs. 7505Rs. 9500(21% OFF)',
 'Rs. 7999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 9999',
 'Rs. 9490',
 'Rs. 10500',
 'Rs. 7990',
 'Rs. 8950',
 'Rs. 9990',
 'Rs. 9490',
 'Rs. 8490',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 7990',
 'Rs. 8490',
 'Rs. 7990']

In [213]:
print(len(prc))

50

In [214]:
shoe=pd.DataFrame({})
shoe['Rating']=name1
shoe['Summary']=descp1
shoe['Review']=prc1
shoe

,Rating,Summary,Review
0,Bugatti,Men Leather Monks,Rs. 8999
1,Skechers,Men Go Walk 5 Walking Shoes,Rs. 8499
2,ADIDAS,Women KarlieKlossX9000 Running,Rs. 13999
3,Bugatti,Leather Block Heeled Boots,Rs. 7999Rs. 9999(20% OFF)
4,ADIDAS,Women Dropset Training Shoes,Rs. 12999
5,Geox,Men Textured Leather Driving Shoes,Rs. 10490
6,Geox,Men Textured Leather Sneakers,Rs. 9990
7,Geox,Men Textured Leather Driving Shoes,Rs. 10990
8,ROSSO BRUNELLO,,Rs. 9999
9,Geox,Men Textured Leather Driving Shoes,Rs. 9990
10,Geox,Men Textured Leather Driving Shoes,Rs. 10990
11,Geox,Men Textured Leather Driving Shoes,Rs. 10990
12,UNDER ARMOUR,Men UA Charged Breeze Training,Rs. 8999
13,UNDER ARMOUR,Men UA Charged Vantage 2 Run,Rs. 7999
14,Clarks,Men Leather Derbys,Rs. 7499
15,PUMA Hoops,Unisex Fusion Nitro Basketball,Rs. 7149Rs. 10999(35% OFF)
16,Columbia,Women Trekking Shoes,Rs. 8999
17,Puma,Women Eternity NITRO Shoes,Rs. 9749Rs. 12999(25% OFF)
18,Bugatti,Men Walking Shoes,Rs. 9999
19,Saint G,Embellished Chelsea Boots,Rs. 10355Rs. 10900(5% OFF)
20,ASICS,Women Running Shoes,Rs. 7999
21,Geox,Men Leather Driving Shoes,Rs. 9499
22,Birkenstock,Unisex Boston Super Grip Clogs,Rs. 9290
23,Geox,Men Formal Derbys,Rs. 9990
24,J.FONTINI,Men Solid Loafers,Rs. 8990
25,Bugatti,Men Solid Leather Formal Derbys,Rs. 9499
26,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
27,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 8499Rs. 9999(15% OFF)
28,DAVINCHI,Ustraa black,Rs. 8990
29,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
30,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
31,Sole To Soul,High-Top Block Heeled Boots,Rs. 7900
32,Saint G,Women Leather Loafers,Rs. 7505Rs. 9500(21% OFF)
33,ALDO,Embellished Wedge Sandals,Rs. 7999
34,ECCO,Leather Block Pumps,Rs. 7499Rs. 9999(25% OFF)
35,ALDO,Leather Slim Heels,Rs. 7199Rs. 11999(40% OFF)
36,Bugatti,Women Leather Heeled Boots,Rs. 8799Rs. 10999(20% OFF)
37,Bugatti,Printed Leather Sandals with Buckles,Rs. 9999
38,Geox,Leather Block Sandals,Rs. 9490
39,Saint G,Leather Party Block Sandals,Rs. 10500
40,MANGO,Embellish Mid-Top Heeled Boots,Rs. 7990
41,Geox,Women Ballerinas Flats,Rs. 8950
42,Geox,Women Textured Leather Loafers,Rs. 9990
43,Geox,Women Textured Leather Loafers,Rs. 9490
44,Geox,Women Open Toe Flats,Rs. 8490
45,Onitsuka Tiger,Unisex Ok Basketball MT,Rs. 7999
46,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
47,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
48,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
49,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990

In [215]:
driver.close()

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [216]:
driver=webdriver.Chrome("chromedriver.exe")

In [217]:
driver.get("https://www.amazon.in/")

In [218]:
#finding element for search bar
search_f=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_f.send_keys("laptop")

In [219]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

Selecting Core I7 and Core I9

In [220]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div/label/i')
search_button=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i')
search_button.click()

I can select only one at a time either I7 or I9 because on clicking on check box and submit the page is changing

In [221]:
title=[]
ratg=[]
prc=[]

In [222]:
#extract titles
t_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
t_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="953f113ec9be41f172df7a2e9b3075eb", element="2617b4af-d80a-409b-b56a-a55128da2f1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="953f113ec9be41f172df7a2e9b3075eb", element="e495b242-8869-4890-8d05-3555a37bf243")>]

In [223]:
for i in t_tags:
    titl=i.text
    title.append(titl)
title[0:2]

['Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54']

In [224]:
#extract rating
su_tags=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']")
su_tags

for i in su_tags:
    suma=i.text
    ratg.append(suma)
ratg[0:4]

['6', '6', '1', '11']

In [225]:
#extract price
re_tags=driver.find_elements_by_xpath("//div[@class='a-row a-size-base a-color-base']")
re_tags

for i in re_tags:
    revv=i.text
    prc.append(revv)
prc[0:4]

['₹1,44,990\n₹1,69,999 (15% off)',
 '₹1,44,990\n₹1,69,999 (15% off)',
 '₹3,01,521\n₹3,76,990 (20% off)',
 '₹2,02,990\n₹2,45,429 (17% off)']

In [226]:
print(len(title),len(ratg),len(prc))

12 6 11

In [ ]:
snk=pd.DataFrame({})
snk['Name']=title
snk['Rating']=ratg
snk['Price']=prc
snk.head(10)

In [228]:
driver.close()

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [229]:
driver=webdriver.Chrome("chromedriver.exe")

In [230]:
driver.get("https://www.ambitionbox.com/")

CLicking the job option

In [231]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
search_button.click()

Selecting the Data scientist in search

In [232]:
search_field=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field.send_keys("Data Scientist")

In [233]:
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_button.click()

In [235]:
search_button1=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
search_button1.click()

selecting noida option from radio button

In [236]:
search_button2=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_button2.send_keys("Noida")
search_button2.click()

In [237]:
search_button1=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search_button1.click()

In [238]:
name=[]
dayy=[]
rating=[]

In [239]:
#extract name
name_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")
name_tags

for i in name_tags:
    ratt=i.text
    name.append(ratt)
name

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=101.0.4951.41)
Stacktrace:
Backtrace:
	Ordinal0 [0x00CCA8E3+2402531]
	Ordinal0 [0x00C5B011+1945617]
	Ordinal0 [0x00B4C748+837448]
	Ordinal0 [0x00B4F154+848212]
	Ordinal0 [0x00B4F012+847890]
	Ordinal0 [0x00B4F2A0+848544]
	Ordinal0 [0x00B74E0F+1003023]
	Ordinal0 [0x00B942AC+1131180]
	Ordinal0 [0x00B6FAA4+981668]
	Ordinal0 [0x00B944C4+1131716]
	Ordinal0 [0x00BA46C2+1197762]
	Ordinal0 [0x00B940C6+1130694]
	Ordinal0 [0x00B6E676+976502]
	Ordinal0 [0x00B6F586+980358]
	GetHandleVerifier [0x00F3BC42+2511938]
	GetHandleVerifier [0x00F2ED6F+2458991]
	GetHandleVerifier [0x00D631AA+575914]
	GetHandleVerifier [0x00D61FA6+571302]
	Ordinal0 [0x00C61DEB+1973739]
	Ordinal0 [0x00C66778+1992568]
	Ordinal0 [0x00C66865+1992805]
	Ordinal0 [0x00C6FA41+2030145]
	BaseThreadInitThunk [0x74F87BA9+25]
	RtlInitializeExceptionChain [0x7728B7DB+107]
	RtlClearBits [0x7728B75F+191]

In [240]:
#extract days ago
su_tags=driver.find_elements_by_xpath("//span[@class='body-small-l']")
su_tags

for i in su_tags:
    suma=i.text
    dayy.append(suma)
dayy

['2d ago',
 'via naukri.com',
 '2d ago',
 'via naukri.com',
 '3d ago',
 'via naukri.com',
 '17hr ago',
 'via naukri.com',
 '17hr ago',
 'via naukri.com',
 '19hr ago',
 'via naukri.com',
 '19hr ago',
 'via naukri.com',
 '19hr ago',
 'via naukri.com',
 '19hr ago',
 'via naukri.com',
 '19hr ago',
 'via naukri.com']

In [241]:
#extract ratings
re_tags=driver.find_elements_by_xpath("//a[@class='rating rating-4']")
re_tags

for i in re_tags:
    revv=i.text
    rating.append(revv)
rating

['4.2', '4.2', '4.2', '4.4', '4.2', '4.2', '4.1', '4.1', '4.1', '4.1', '4.1']

In [242]:
print(len(name),len(dayy),len(rating))

0 20 11

In [ ]:
snk=pd.DataFrame({})
snk['Name']=name
snk['Days posted ago']=dayy
snk['Ratings']=ratings
snk

In [ ]:
driver.close()

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [243]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [244]:
driver.get("https://www.ambitionbox.com/")

In [245]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
search_button.click()

Selecting the Data scientist in search

In [246]:
search_button2=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_button2.send_keys("Data Scientist")
search_button2.click()

In [247]:
name=[]
exp=[]
tsr=[]
avs=[]
minsal=[]
maxsal=[]

In [248]:
#extract name
rat_tags=driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div[1]/a")
rat_tags

for i in rat_tags:
    ratt=i.text
    name.append(ratt)
name

['Google']

In [249]:
#extract experience
su_tags=driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div[2]")
su_tags

for i in su_tags:
    suma=i.text
    exp.append(suma)
exp

['Software Engineer\n . \n1 yr exp']

In [250]:
#extract total salary record
re_tags=driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div[1]/span")
re_tags

for i in re_tags:
    revv=i.text
    tsr.append(revv)
tsr

['based on 11 salaries']

In [251]:
#extract minimum salary record
re_tags=driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[1]")
re_tags

for i in re_tags:
    revv=i.text
    minsal.append(revv)
minsal

['₹ 10.4L']

In [252]:
#extract average salary record
re_tags=driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[1]/div/p")
re_tags

for i in re_tags:
    revv=i.text
    avs.append(revv)
avs

['₹ 26.9L']

In [253]:
#extract maximum salary record
re_tags=driver.find_elements_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[2]")
re_tags

for i in re_tags:
    revv=i.text
    maxsal.append(revv)
maxsal

['₹ 40.0L']

In [254]:
snk=pd.DataFrame({})
snk['Name']=name
snk['Experience']=exp
snk['Total Salary Record']=tsr
snk['Minimum Salary']=minsal
snk['Average Salary']=avs
snk['Maximum Salary']=maxsal
snk

,Name,Experience,Total Salary Record,Minimum Salary,Average Salary,Maximum Salary
0,Google,Software Engineer\n . \n1 yr exp,based on 11 salaries,₹ 10.4L,₹ 26.9L,₹ 40.0L

In [255]:
driver.close()